---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import '@fontsource-variable/manrope';

const posts = (await getCollection('blog')).sort(
	(a: { data: { pubDate: any }; }, b: { data: { pubDate: any }; }) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>

		</style>
	</head>
	<body>
		<Header />
		<main id="blog">
			<section>
				<ul>
					{
						posts.map((post: any) => (
							<li class="blog-entry">
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
								<div class="tags">
									{
										post.data.tags && post.data.tags.length > 0
											? post.data.tags.map((tag: string, _index: any) => (
												<a href={`/tags/${tag}/`} class="tag">{tag}</a>
											))
											: <span>No tags available</span>
									}
								</div>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
		<script>
			import "../../scripts/menu";
		  </script>
	</body>
</html>
