---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Code } from 'astro:components';
import '@fontsource-variable/manrope';
import '@fontsource/ubuntu';
import 'animate.css'

const posts = (await getCollection('blog')).sort(
	(a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const tags = [...new Set(posts.map((post: any) => post.data.tags).flat())];

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="home">
			<section>
				<div class="code">
					<Code id="console" code={`console.log("Hello World, Hello Life");`} lang="js" theme="dark-plus"/>
				</div>
				<ul>
					{
						posts.slice(0, 3).map((post: any) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h3 class="title">{post.data.title}</h3>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
								<div class="tags">
									{
										post.data.tags && post.data.tags.length > 0
											? post.data.tags.map((tag: any) => (
												<a href={`/tags/${tag}/`} class="tag">{tag}</a>
											))
											: <span>No tags available</span>
									}
								</div>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
		<script>
			import "../scripts/menu";
		  </script>
	</body>
</html>
